POSTGRES_USER=banka
POSTGRES_PASSWORD=banka_secret
POSTGRES_DB=banka
POSTGRES_PORT=5432
USER_GRPC_PORT=50051
NOTIFICATION_GRPC_PORT=50052

FROM_EMAIL=your-email@gmail.com
FROM_EMAIL_PASSWORD=your-app-password
FROM_EMAIL_SMTP=smtp.gmail.com
SMTP_ADDR=smtp.gmail.com:587
ACCESS_JWT_SECRET=123
REFRESH_JWT_SECRET=654
